<h1>All products</h1>

<% if @products&.any? %>
  <ul>
    <% @products.each do |row|  %>
      <td> <li><a href="/products/<%= row[0] %>"><%= row.join(' | ') %></a></li></td>
          <%end %>
          </tr>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>

<a href="/products/new">Add a new product</a>